/* @import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap'); */
body {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

.header {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
}
.header h1 {
    font-size: 50px;
    font-weight: bold;
}
.form-container {
    padding: 20px;
    border-radius: 15px;
    background-color: #f2f2f2;
    width: max-content;
    margin: auto;
    box-shadow: 0px 5px 10px 0px #b3b3b3;
}
.information {
    text-align: center;
    margin: 20px 0px 40px 0px;
}
.information h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.container {
    text-align: center;
}
.container h3 {
    color: #ff4000;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}