{% extends 'base.html' %}

{% block content %}
<h1>Upload new File</h1>
<form action="#" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" id="" value="Choose image">
    <input type="submit" value="Upload" name="button">
    <input type="submit" value="Predict" name="button">
</form>

{% for label in labels %}
<h2> {{ label }}</h2>    
{% endfor %}

<h2>{{ total }}</h2>

{% if filename %}
<img src="/static/upload/{{ filename }}" alt="">
{% elif result %}
<img src="{{ result }}" alt="">{% else %}
<h3>No image file</h3>
{% endif %}

{% endblock content %}